
## <summary>policy for wincashgold</summary>


########################################
## <summary>
##	Transition to wincashgold.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`wincashgold_domtrans',`
	gen_require(`
		type wincashgold_t, wincashgold_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, wincashgold_exec_t, wincashgold_t)
')


########################################
## <summary>
##	Execute wincashgold server in the wincashgold domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wincashgold_initrc_domtrans',`
	gen_require(`
		type wincashgold_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, wincashgold_initrc_exec_t)
')


########################################
## <summary>
##	Search wincashgold lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wincashgold_search_lib',`
	gen_require(`
		type wincashgold_var_lib_t;
	')

	allow $1 wincashgold_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read wincashgold lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wincashgold_read_lib_files',`
	gen_require(`
		type wincashgold_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, wincashgold_var_lib_t, wincashgold_var_lib_t)
')

########################################
## <summary>
##	Manage wincashgold lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wincashgold_manage_lib_files',`
	gen_require(`
		type wincashgold_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, wincashgold_var_lib_t, wincashgold_var_lib_t)
')

########################################
## <summary>
##	Manage wincashgold lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wincashgold_manage_lib_dirs',`
	gen_require(`
		type wincashgold_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, wincashgold_var_lib_t, wincashgold_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a wincashgold environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`wincashgold_admin',`
	gen_require(`
		type wincashgold_t;
		type wincashgold_initrc_exec_t;
		type wincashgold_var_lib_t;
	')

	allow $1 wincashgold_t:process { ptrace signal_perms };
	ps_process_pattern($1, wincashgold_t)

	wincashgold_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 wincashgold_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, wincashgold_var_lib_t)

')

